<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="cursor: pointer;">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Recipe Book</span>
    </a>
    <ul class="nav nav-pills">
      <!-- <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li> -->
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/recipes">Recipes</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
      <li class="nav-item dropdown" appDropdown>
          <a class=" nav-link dropdown-toggle" role="button" style="cursor: pointer;">Manage</a>
          <ul class="dropdown-menu text-small shadow mar-left">
            <li><a class="dropdown-item" style="cursor: pointer;">New project...</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;">Settings</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" style="cursor: pointer;">Sign out</a></li>
          </ul>
      </li>
    </ul>
    <div class="collapse navbar-collapse">

    </div>
  </div>



</nav>
